<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="./Assets/logo.png" />
  <link rel="stylesheet" type="text/css" href="./Css/vipNumber.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link href="./Css/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="icon" href="./Assets/vipnumlogore.png" />
  <link rel="stylesheet" type="text/css" href="./Css/index3.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="./Js/store2.js" type="module"></script>
  <title>VIP Mobile Number | Fancy</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/release/v6.0.0-beta3/css/all.css" />
  <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Default" disabled
    href="/css/app-34c216fc2822b17a4662e494f89c8c00.css?vsn=d">
  <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome"
    href="/css/app-wa-efa47151693984001d3dd77e57c4acf3.css?vsn=d">

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/sharp-solid.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" />
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/sharp-solid.css">
    <title>Document</title>
</head>
<body>
    <div class="bg-custom overflow_screen-custom">
        <div class="animblock-custom text-center">
          <div class="lds-roller-custom"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <p class="marg-no text-xl text-bold grd-text-primary" style="background: linear-gradient(90deg, #f7aa04, #ffcd00);color:transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Request Processing..</p>
          <span>Please wait...</span>
        </div>
      </div>
</body>
</html>